<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooknote.backend.mappers.AuthMapper">

	<resultMap id="UserResultMap" type="User">
        <id property="userId" column="USER_ID"/>
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="profileImage" column="PROFILE_IMAGE"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="updateAt" column="UPDATE_AT"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>


	<!-- 아이디 중복 체크 -->
	<select id="getExistsId" resultType="boolean">
		SELECT EXISTS (
					   SELECT 1 
						 FROM USER 						<!-- 유저 테이블 -->
						WHERE ID = #{id}		)
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="getExistsNickname" resultType="boolean">
		SELECT EXISTS (
					   SELECT 1 
						 FROM USER						<!-- 유저 테이블 -->
						WHERE NICKNAME = #{nickname}
		)
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="getExistsEmail" resultType="boolean">
		SELECT EXISTS (
					   SELECT 1 
						 FROM USER 						<!-- 유저 테이블 -->
						WHERE EMAIL = #{email}
		)
	</select>

	<!-- 회원 가입 -->
	<insert id="userJoin" parameterType="User">
		INSERT INTO USER (								<!-- 유저 테이브 -->
	       				  ID, 
	       				  PASSWORD, 
	       				  NAME, 
	       				  NICKNAME, 
						  EMAIL, 
						  PROFILE_IMAGE
	   	) 
	   	VALUES (
	       		#{id}, 
	       		#{password}, 
	       		#{name}, 
	       		#{nickname}, 
	       		#{email},
	       		#{profileImage}
	   	)
	</insert>
	
	<!-- 아이디 찾기 - 요청 -->
	<select id="userFindIdAuthRequest" resultType="boolean">
		SELECT EXISTS (
					   SELECT 1 
						 FROM USER						<!-- 유저 테이블 -->
						WHERE NAME = #{name} 
						  AND EMAIL = #{email}
		)
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="userFindId" resultType="User">
		SELECT ID
		  FROM USER										<!-- 유저 테이블 -->
		 WHERE NAME = #{name} 
		   AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기 - 요청 -->
	<select id="userFindPw" resultMap="UserResultMap">
		SELECT USER_ID
		  FROM USER										<!-- 유저 테이블 -->
		 WHERE ID = #{id} 
		   AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwReset">
		UPDATE USER										<!-- 유저 테이블 -->
		   SET PASSWORD = #{password}
		 WHERE USER_ID = #{userId}
	</update>
</mapper>
