<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooknote.backend.mappers.CategoryMapper">


	<!-- 카테고리 요리 종류 가져오기  -->
	<select id="getCategoryCuisine" resultType="CategoryCuisineListResponseDTO">
		SELECT CATEGORY_CUISINE_ID AS ID		<!-- 카테고리 요리 종류 아이디 -->
			 , TYPE				   AS TYPE		<!-- 카테고리 요리 종류 -->
		  FROM CATEGORY_CUISINE					<!-- 카테고리 요리 종류 테이블 -->
	  ORDER BY ID ASC
	</select>
	
	<!-- 카테고리 요리 목적 가져오기  -->
	<select id="getCategoryPurpose" resultType="CategoryPurposeResponseDTO">
		SELECT CATEGORY_PURPOSE_ID AS ID		<!-- 카테고리 목적 아이디 -->
			 , TYPE				   AS TYPE		<!-- 카테고리 목적 종류 -->
		  FROM CATEGORY_PURPOSE					<!-- 카테고리 목적 테이블 -->
	  ORDER BY ID ASC
	</select>
	
	<!-- 카테고리 신고 사유 가져오기 -->
	<select id="getCategoryReportReason" resultType="CategoryReportReasonResponseDTO">
		SELECT CATEGORY_REPORT_REASON_ID AS ID			<!-- 카테고리 신고사유 아이디 -->
			 , TYPE				   	  	 AS TYPE		<!-- 카테고리 신고사유 종류 -->
		  FROM CATEGORY_REPORT_REASON					<!-- 카테고리 신고사유 테이블 -->
	  ORDER BY ID ASC
	</select>
</mapper>

