<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooknote.backend.mappers.RecipeIngredientMapper">
	
	<!-- 레시피 재료 저장 -->
	<insert id="save">
		INSERT INTO RECIPE_INGREDIENT (
										NAME
									  , QUANTITY
									  , REMARK
									  , RECIPE_ID
										
		)
		VALUES 
		<foreach collection="ingredients" item="item" separator=",">
		(
		    #{item.name}
		  , #{item.quantity}
		  , #{item.remark}
		  , #{recipeId}
		)
		</foreach>
	</insert>

	
	<!-- 레시피 재료 삭제 -->
	<delete id="delete">
		DELETE 
		  FROM RECIPE_INGREDIENT
		 WHERE RECIPE_ID = #{recipeId}
	</delete>
</mapper>

