<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooknote.backend.mappers.UserMapper">

	<resultMap id="UserResultMap" type="User">
        <id property="userId" column="USER_ID"/>
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="profileImage" column="PROFILE_IMAGE"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="updateAt" column="UPDATE_AT"/>
        <result property="isDelete" column="IS_DELETE"/>
    </resultMap>
    
    
	<!-- 회원 정보 가져오기 -->
	<select id="getUser" resultMap="UserResultMap">
		SELECT USER_ID
			 , ID
			 , NAME
			 , PASSWORD
			 , EMAIL
			 , NICKNAME
			 , PROFILE_IMAGE
			 , CREATE_AT
			 , UPDATE_AT
		  FROM USER
	 	 WHERE ID = #{id}
	</select>   
</mapper>
