<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cooknote.backend.mappers.UserMapper">

	<resultMap type="UserDTO" id="userResultMap">
		<id property="userId" column="USER_ID" />
	</resultMap>

	<!-- 아이디 중복 체크 -->
	<select id="getCheckLoginId" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM USER WHERE LOGIN_ID = #{loginId})
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="getCheckNickname" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM USER WHERE NICKNAME = #{nickname})
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="getCheckEmail" resultType="boolean">
		SELECT EXISTS (SELECT 1 FROM USER WHERE EMAIL = #{email})
	</select>
</mapper>